@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400&display=swap");

// $primary: #304173;
// $secondary: #a65d33;
// $text: #ffffff;

/* Color Theme Swatches in Hex */
$Copy-of-Coral-Dunes-1-hex: #34495e;
$Copy-of-Coral-Dunes-2-hex: #715a68;
$Copy-of-Coral-Dunes-3-hex: #f6c29a;
$Copy-of-Coral-Dunes-4-hex: #f5ad92;
$Copy-of-Coral-Dunes-5-hex: #f18985;

$primary: $Copy-of-Coral-Dunes-1-hex;
$secondary: $Copy-of-Coral-Dunes-2-hex;
$text: #fff;

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
}
body {
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  label {
    margin: 10px;
  }
}
header {
  background-color: $primary;
  color: $text;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  i {
    padding-right: 10px;
    color: #f6c29a;
  }
  h2 {
    flex: 1;
  }
}
button {
  background-color: $secondary;
  color: $text;
  border: none;
  padding: 5px 15px;
  font-size: 24px;
}
footer {
  position: fixed;
  bottom: 0;
  background-color: #f18985;
  width: 100%;
  padding: 5px;
}
#answer {
  display: flex;
  flex-wrap: wrap;
  button {
    width: 100%;
    margin: 10px;
  }
}
